body {
    background-image: url("./images/dark-gradient-background.jpg");
    color: magenta;
    font-size: 25px;
    font-style: italic;
    font-family: Verdana;
    text-align: center;
    margin: 100px
    
}

.clock {
    background: thistle;
    color: royalblue;
    width: 400px;
    margin: auto;
    border-radius: 25px;
    text-align: center;
    border: 10px solid white;
    padding: 25px;
}

.date {
    background: lightskyblue;
    color: royalblue;
    width: 400px;
    margin: auto;
    border-radius: 25px;
    text-align: center;
    border: 10px solid white;
    padding: 25px;
}

.button {
    background: thistle;
    font-size: 25px;
    font-family: Verdana;
    width: 250px;
    margin: auto;
    border: 10px solid white;
    padding: 4px;
    border-radius: 35px;


}

