body {
    background-image: url("./images/harli-marten-n7a2OJDSZns-unsplash.jpg");
    color: rgb(131, 3, 131);
    font-size: 25px;
    font-family: "Sofia", sans-serif;
    /* font-style: italic;
    font-family: Verdana; */
    text-align: center;
    /* margin: auto; */
}
.clock {
    font-family: Arial, sans-serif;
    font-size: 2rem;
    white-space: nowrap; /* Prevents breaking */
}

/* .clock span {
    display: inline-block; /* Ensures they stay together */
/* }  */

.clock {
    background: thistle;
    color: royalblue;
    border-radius: 25px;
    text-align: center;
    border: 10px ridge rgb(221, 80, 200);
    padding: 14px;
    width: 269px;
    margin: auto;
    /* font-size: 25px; */
    /* width: 100%; */
    /* width: 269px; */
}

.amPm {
    margin-left: 1px; /* Adds space before AM/PM */
    font-size: 30px; /* Slightly larger for visibility */
    font-weight: bold;
    font-family: "Sofia", sans-serif;
}


.date {
    background: rgb(238, 214, 217);
    color: royalblue;
    /* width: 100%; */
    width: 269px;
    margin: auto;
    font-size: 22px;
    font-family: "Sofia", sans-serif;
    font-weight: bold;
    border-radius: 25px;
    text-align: center;
    border: 10px ridge mediumorchid;
    padding: 20px;
}

#button-24 {
    padding: 18px;
    color: mediumblue;
    background: thistle;
    font-size: 24px;
    font-weight: bold;
    font-family: "Sofia", sans-serif;
    /* font-family: Verdana; */
    width: 269px;
    margin: auto;
    border: 6px ridge rgb(243, 77, 182);
    border-radius: 27px;
}

